html, body{
    font-family: 'Macondo Swash Caps', cursive;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fdfcfc;
    line-height: 1.5;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    }

/*/ komputer /*/
